* {
    font-family: 'Helvetica', sans-serif;
}

/* Standardgröße des Bildes (z.B. für Desktop) */
.responsive-image {
    max-width: 70%;  /* Reduziert die Bildgröße auf 70% der Containerbreite */
    height: auto;    /* Höhe wird proportional beibehalten */
}

/* Für mobile Ansichten */
@media (max-width: 576px) {
    .responsive-image {
        max-width: 100%;  /* Bildgröße wird für Mobilgeräte auf 100% gesetzt */
    }
}


.text-dark-orange {
    color: #EC7600; /* Dunkles Orange */
}


/* Style for dropdown items */
.dropdown-item-orange {
    background-color: #EC7600 !important; /* Set the orange color */
    color: black !important; /* Change text color to white */
}

.dropdown-item-orange:hover {
    background-color: #d86c00 !important; /* Darker shade on hover */
    color: white !important; /* Keep text color white on hover */
}

/* Style for the dropdown menu when shown */
.dropdown-menu.show {
    background-color: #EC7600 !important; /* Set the background color to orange */
}

/* Optionally, set color for items in the dropdown menu */
.dropdown-menu {
    border: none; /* Remove border if desired */
}

